* {
    box-sizing: border-box;
}

main {
    font-size: 100px;
    text-align: center;
}

input {
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}

button {
    height: 50px;
    width: 70px;
    margin-top: 50px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
